# SPDX-FileCopyrightText: 2017-2026 Friedrich von Never <friedrich@fornever.me>
#
# SPDX-License-Identifier: MIT

/.idea/
/.vs/
/.vscode/

bin/
obj/
out/

*.user

# Documentation generator
/docs/_site/
/docs/api/
