# SPDX-FileCopyrightText: 2017-2018 Friedrich von Never <friedrich@fornever.me>
#
# SPDX-License-Identifier: MIT

language: csharp
os:
    - linux
dist: trusty
env:
    global:
        - DOTNET_SKIP_FIRST_TIME_EXPERIENCE=1
        - DOTNET_CLI_TELEMETRY_OPTOUT=1
dotnet: 2.1.301
script:
    - dotnet build
    - dotnet test Nightwatch.Tests
